<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="/public/style.css"/>
</head>
<header>
</header>
<body>
	<h1> Hi! </h1>
	This site is currently a work in progress.
	Mars Ponce is a recent graduate of U
</body>
<footer>
</footer>
</html>
